<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Main Page</h1>
    <p class="lead">
      <h3>
        <%= link_to 'About Page', about_path, class: 'btn btn-primary' %>
        <span class="mx-2">|</span>
        <%= link_to 'Go to Articles', articles_path, class: 'btn btn-secondary' %>
      </h3>
    </p>
  </div>
</div>